/* styles the page when the width is 390px and less */
@media screen and (max-width: 391px) {
    #hero {
      max-width: 390px;
    }
  
    #hero-image-container {
      height: 50vh;
    }
  
    #hero-image-container img {
      height: 100%;
    }
  
    .hintMonemvasia {
      max-width: 390px;
    }
  
    #option-cards {
      max-width: 390px;
      flex-direction: column;
      row-gap: 2rem;
      align-items: center;
    }
  
    #info-bar {
      max-width: 390px;
    }
  
    #map {
      max-width: 390px;
    }
  
    #map iframe {
      max-width: 390px;
    }
  
    #hintsRitsos {
      max-width: 390px;
    }
  
    .hint {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .hint img {
      max-width: 350px;
    }
  
    #sendUs {
      max-width: 390px;
      text-align: center;
    }
  
    #aboutUs {
      display: flex;
      flex-direction: column;
      row-gap: 4rem;
      max-width: 390px;
      justify-content: center;
    }
  
    #contact {
      width: 100%;
    }
  
    #informations {
      width: 100%;
      align-items: start;
    }
  
    #photos {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      align-items: center;
      height: 1600px;
    }
  
    #photos iframe {
      max-width: 380px;
      max-height: 500px;
    }
  
    #weather {
      width: 100%;
    }
  }