/* styles the page when the width is 390px and less */
@media screen and (max-width: 391px) {
    body {
      max-width: 390px;
    }
  
    .timeline {
      display: flex;
      flex-direction: column;
      max-height: 1600px;
    }
  
    .side::after {
      display: none;
    }
  
    .timeline::after {
      display: none;
    }
  
    .left::before {
      display: none;
    }
  
    .right {
      left: 0;
    }
  
    .side {
      width: 100%;
    }
  
    .right::before {
      display: none;
    }
  
    .story {
      padding: 1rem;
    }
  
    .history {
      padding: 10rem 1rem 10rem 1rem;
    }
  
    .group {
      flex-direction: column;
      gap: 2rem;
    }
  
    .group img {
      width: 360px;
      height: 500px;
    }
  
    #aboutUs {
      display: flex;
      flex-direction: column;
      row-gap: 4rem;
      max-width: 390px;
      justify-content: center;
    }
  
    #contact {
      width: 100%;
    }
  
    #informations {
      width: 100%;
      align-items: start;
    }
  }