/* styles the page when the width is 390px and less */
@media screen and (max-width: 390px) {
    body {
      max-width: 390px;
    }
  
    .container {
      height: 3000px;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
  
    .card {
      width: 360px;
      height: 500px;
    }
  
    input:checked+label {
      width: 360px;
    }
  
    .imageGallery {
      grid-template-columns: auto;
    }
  
    .text h4 {
      text-align: start;
    }
  
    #smallText {
      padding: 2rem;
    }
  
    #aboutUs {
      display: flex;
      flex-direction: column;
      row-gap: 4rem;
      max-width: 390px;
      justify-content: center;
    }
  
    #contact {
      width: 100%;
    }
  
    #informations {
      width: 100%;
      align-items: start;
    }
  }